<div id="chart">
<h1>Help Chart</h1>
<div class="chart">
  1 <div style="width: <%= 10 * @array_1.length%>px"><%= @array_1.length%> </div> <br>
  2 <div style="width: <%= 10 * @array_2.length%>px"><%= @array_2.length %></div> <br>
  3 <div style="width: <%= 10 * @array_3.length%>px"><%= @array_3.length %></div> <br>
  4 <div style="width: <%= 10 * @array_4.length%>px"><%= @array_4.length %></div> <br>
  5 <div style="width: <%= 10 * @array_5.length%>px"><%= @array_5.length %></div> <br>
</div>

<h1>Challenge Chart</h1>
<div class="chart">
  1 <div style="width: <%= 10 * @array_6.length%>px"><%= @array_6.length%> </div> <br>
  2 <div style="width: <%= 10 * @array_7.length%>px"><%= @array_7.length %></div> <br>
  3 <div style="width: <%= 10 * @array_8.length%>px"><%= @array_8.length %></div> <br>
  4 <div style="width: <%= 10 * @array_9.length%>px"><%= @array_9.length %></div> <br>
  5 <div style="width: <%= 10 * @array_10.length%>px"><%= @array_10.length %></div> <br>
</div>
</div>
