
<div class="container">
  <% if current_user == nil %>
    <% end %>
    <% if current_user != nil %>
    <% @feedbacks.each do |feedback| %>
  	<% if current_user.cohort != "Staff" && feedback.private_public == false %>
  		 <a href="/feedback/<%= feedback.id %>"><%= feedback.title %></a>
  		 <%= feedback.content %>
  	<% end %>
  	<% if current_user.cohort == "Staff" %>
  		<a href="/feedback/<%= feedback.id %>"><%= feedback.content %></a>
  		<%= feedback.content %>
  	<% end %>
  <% end %>
  <% end %>
</div>
