<div class="container">
	<% if current_user %>
  	<h3> Your Feedback </h3>
  	<% current_user.feedbacks.each do |feedback| %>
  	Title: <%= feedback.title %></br>
  	Content: <%= feedback.content %></br>
  	Category: <%= feedback.category.name %></br>
    <a href="/feedbacks/<%=feedback.id%>"> See Comments </a></br> 
  	<a href="/delete/feedback/<%=feedback.id%>"> Delete </a> 
  </br></br>
  	<% end %>

<%end%>

</div>
