<div id="wrapper">
	<section>
	<strong>Title:</strong><%= @feedback.title %><br>
	<strong> Submitter Cohort: </strong> <%=@feedback.user.cohort %><br>
	<strong>Category:</strong><%= @feedback.category.name %><br>
	<strong>Content:</strong> <%= @feedback.content %>
	</section>

<section>
<div class="name"><strong>Add a comment</strong></div>
<form method="post" id="addcomment" action="/feedbacks/<%=@feedback.id %>/comments">
<textarea id="commentmessage" type="text" cols="50" rows="4" name="content" placeholder="Type your comment here."></textarea>
<br>
<input type="submit" class="button"value="Submit">
</section>
</form>



<div id="wrapper">
<section>
<p><strong><small>Comments</strong></p>
	<div id="commentbody">
			<% @feedback.comments.each_with_index do |comment, index| %>
  	<%=index+1%>. <%= comment.content %><br><br>
		<% end %>
	</div>
</section>
</div>

</br></br>










  </div>
